.list{
    box-shadow: 10px 10px 20px rgba(0,0,0, .4);
    padding: 0;
    margin: 0;
    flex: 6;
    margin-right: 30px;
}
.list__spinner{
    margin-top: 30px;
    flex: 6;
    justify-content: center;
}